<div class="container-fluid p-0">
    <!-- <div class="col-sm-12 navbar-dark bg-primary" id="header">
       
            <ul class="nav nav-tabs justify-content-center ">
                <li  class="nav-item"><a routerLink="login"  routerLinkActive="active" class="nav-link">Login</a></li>
                <li  class="nav-item"><a routerLink="register" routerLinkActive="active" class="nav-link">Register</a></li>
                <li class="nav-item" ><a routerLink="menu" routerLinkActive="active" class="nav-link">Menu</a></li>
                <li  class="nav-item"><a  routerLink="checkout" routerLinkActive="active" class="nav-link">Checkout</a></li>
            </ul>
            
    </div> -->

    <nav id="header" class=" col-sm-12 navbar navbar-expand-lg navbar-dark bg-primary ">
        <a class="navbar-brand">Restaurant</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-center" id="navbarColor01">
          <ul class="navbar-nav ">
            <li  class="nav-item"><a routerLink="login"  routerLinkActive="active" class="nav-link">Login</a></li>
            <li  class="nav-item"><a routerLink="register" routerLinkActive="active" class="nav-link">Register</a></li>
            <li class="nav-item" ><a routerLink="menu" routerLinkActive="active" class="nav-link">Menu</a></li>
            <li  class="nav-item"><a  routerLink="checkout" routerLinkActive="active" class="nav-link">Checkout</a></li>
          </ul>
          
        </div>
      </nav>
    <router-outlet></router-outlet>

    <div class="col-sm-12 navbar navbar-expand-lg navbar-dark bg-primary footer justify-content-center" >All copyrights reserved 2020.</div>
</div> 

